# =========================
# Build
# =========================
build/
cmake-build-*/
out/
bin/
lib/

# =========================
# CMake
# =========================
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
Makefile

# =========================
# VSCode
# =========================
.vscode/

# =========================
# CLion
# =========================
.idea/

# =========================
# Visual Studio
# =========================
.vs/

# =========================
# Linux
# =========================
*.o
*.so
*.a
*.out

# =========================
# Windows
# =========================
*.exe
*.dll
*.pdb

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temp
# =========================
tmp/
temp/

# =========================
# Testing
# =========================
Testing/

# =========================
# Generated
# =========================
generated/

# =========================
# Cache
# =========================
.cache/